{
    "swagger": "2.0",
    "info": {
        "title": "system",
        "description": "工单API",
        "version": "1.0.0"
    },
    "host": "host.app.com:8081",
    "schemes": [
        "http"
    ],
    "basePath": "/ukcrm",
    "consumes": [
        "application/x-www-form-urlencoded"
    ],
    "produces": [
        "application/json"
    ],
    "parameters": {
        "GlobalUserNameParameter": {
            "name": "userName",
            "in": "formData",
            "description": "login name.",
            "required": true,
            "type": "string",
            "allowEmptyValue": false
        }
    },
    "paths": {
        "/loginController.do?appLogin": {
            "parameters": [
                {
                    "$ref": "#/parameters/GlobalUserNameParameter"
                }
            ],
            "post": {
                "summary": "LoginResponse Types",
                "description": "登录",
                "consumes": [
                    "application/x-www-form-urlencoded"
                ],
                "parameters": [
                    {
                        "name": "password",
                        "in": "formData",
                        "description": "login password.",
                        "required": true,
                        "type": "string"
                    }
                ],
                "tags": [
                    "User"
                ],
                "responses": {
                    "200": {
                        "description": "login response",
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                }
            }
        },
        "/orderController.do?appGetOrderList": {
            "parameters": [
                {
                    "$ref": "#/parameters/GlobalUserNameParameter"
                }
            ],
            "post": {
                "parameters": [
                    {
                        "name": "orderCode",
                        "type": "string",
                        "required": true,
                        "description": "搜索文本",
                        "in": "formData"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "工单列表",
                        "schema": {
                            "$ref": "#/definitions/TaskListResponse"
                        }
                    },
                    "default": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                },
                "tags": [
                    "task"
                ]
            }
        },
        "/orderController.do?appFinishTask": {
            "post": {
                "parameters": [
                    {
                        "name": "TaskFinishEntity",
                        "in": "body",
                        "description": "完成任务post entity",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/TaskCompletePostEntity"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "result",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/ListGlobalResponse"
                                },
                                {
                                    "properties": {
                                        "list": {
                                            "description": "工单数据",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/TaskListItemEntity"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "default": {
                        "description": "Unexpected Error",
                        "schema": {
                            "$ref": "#/definitions/ErrorModel"
                        }
                    }
                },
                "tags": [
                    "task"
                ]
            }
        }
    },
    "definitions": {
        "LoginResponse": {
            "type": "object",
            "properties": {
                "loginSuccess": {
                    "type": "boolean",
                    "description": "Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles."
                },
                "msg": {
                    "type": "string",
                    "description": "提示文案."
                },
                "obj": {
                    "$ref": "#/definitions/User"
                },
                "success": {
                    "type": "boolean",
                    "description": "request is suceed"
                }
            }
        },
        "User": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "id"
                },
                "addr": {
                    "type": "string",
                    "description": "user地址"
                },
                "headImg": {
                    "type": "string",
                    "description": "头像"
                },
                "gender": {
                    "$ref": "#/definitions/UserGender"
                },
                "labels": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/TagLabel"
                    }
                },
                "label": {
                    "$ref": "#/definitions/TagLabel"
                },
                "level": {
                    "$ref": "#/definitions/UserLevel"
                },
                "petHuntingSkill": {
                    "type": "string",
                    "description": "The measured skill for hunting",
                    "default": "lazy",
                    "enum": [
                        "clueless",
                        "lazy",
                        "adventurous",
                        "aggressive"
                    ]
                }
            }
        },
        "TagLabel": {
            "type": "object",
            "properties": {
                "labelId": {
                    "type": "string",
                    "description": "id"
                },
                "labelName": {
                    "type": "string",
                    "description": "标签名字"
                },
                "labelCount": {
                    "type": "string",
                    "description": "数量"
                }
            }
        },
        "TaskCompletePostEntity": {
            "type": "object",
            "properties": {
                "fenxi": {
                    "type": "string",
                    "description": "故障分析"
                },
                "bujian": {
                    "type": "string",
                    "description": "部件"
                },
                "yuanyin": {
                    "type": "string",
                    "description": "故障原因"
                },
                "id": {
                    "type": "string",
                    "description": "工单id"
                },
                "jianding": {
                    "type": "string",
                    "description": "故障鉴定"
                },
                "guobao": {
                    "type": "boolean",
                    "description": "是否过保"
                },
                "cailiao": {
                    "type": "string",
                    "description": "材料"
                },
                "fangshi": {
                    "type": "string",
                    "description": "维修方式"
                },
                "fenlei": {
                    "type": "string",
                    "description": "维修分类"
                },
                "pinpai": {
                    "type": "string",
                    "description": "材料品牌"
                }
            }
        },
        "ListGlobalResponse": {
            "type": "object",
            "description": "post list0 list1 list2 list3 ... response",
            "properties": {
                "msg": {
                    "type": "string",
                    "description": "提示文案"
                },
                "suceess": {
                    "type": "boolean",
                    "description": "请求是否成功"
                }
            }
        },
        "ErrorModel": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                },
                "fields": {
                    "type": "string"
                }
            }
        },
        "TaskListItemEntity": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string",
                    "description": "工单id"
                },
                "statusTXT": {
                    "type": "string",
                    "description": "工单状态"
                }
            }
        },
        "TaskListResponse": {
            "type": "object",
            "allOf": [
                {
                    "$ref": "#/definitions/ListGlobalResponse"
                },
                {
                    "type": "object",
                    "properties": {
                        "list": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/TaskListItemEntity"
                            }
                        }
                    }
                }
            ]
        },
        "UserGender": {
            "type": "integer",
            "description": "性别\n\n* `male` - 男\n* `female` - 女\n",
            "enum": [
                "male",
                "female 1"
            ]
        },
        "UserLevel": {
            "type": "string",
            "format": "enum",
            "description": "水平",
            "enum": [
                "junior",
                "meddium",
                "senior"
            ],
            "x-enum-description": {
                "junior": {
                    "value": "NEW",
                    "description": "the event was created in the producer, and not yet tried to publish."
                },
                "meddium": {
                    "value": "SENT",
                    "description": "the event was successfully published to the event sink."
                },
                "senior": {
                    "value": "ERROR",
                    "description": "something did go wrong with publishing the event."
                }
            }
        }
    }
}
